.row-header {
    margin: 0px auto;
    padding: 0px auto;
}


.row-content {
    margin: 0px auto;
    padding: 50 px 0 px 50 px 0 px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #c5f2c4;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: darkgreen;
    /*background-image: url(/img/leaves.jpeg);
    background-blend-mode: luminosity;*/
    color: floralwhite;
    vertical-align: middle;
}

hr {
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
}


.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

a {
    color: #15bc12; 
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-dark {
    background-color: #1e2d24;    
}

.navigation {
    position: fixed;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: rgb(17, 37, 21);
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    max-height: 300px;
    max-width: 350px;
}

.carousel-caption {
    margin-left: 250px;
    text-align: left;
}

.nav-link {
    color: darkgreen;
}

iframe {
    border: 10px;
    border-style: solid;
    border-color: darkgreen;
}